# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
 # ===================================== #
 # Visual Studio / MonoDevelop generated #
 # ===================================== #
 [Ee]xported[Oo]bj/
 .vs/
 /*.userprefs
 /*.csproj
 /*.pidb
 *.pidb.meta
 /*.suo
 /*.sln*
 /*.user
 /*.unityproj
 /*.booproj
 .consulo/
 /*.tmp
 /*.svd
 *.meta
 /haha
 /ProjectSettings
 /Library
 /obj
 /'App\ Build'
 /UnityPackageManager/*
 /Assets/3D\ Models/
 /Assets/2DLightAsset/
 /Assets/EffectExamples/
 /Assets/FPS\ Essentials\ Kit/
 /Assets/FPS\ Kit\ By\ (HDGameP)/
 /Assets/Helicopter/
 /Assets/Military1/
 /Assets/Particle\ System/
 /Assets/PreFabs/
 /Assets/Scenes/
 /Assets/Sentinel\ FPS\ GUI/
 /Assets/Standard\ Assets/
 /Assets/Textures\ and\ Sprites/
 /Assets/UI\ Final\ Elements/
 /Assets/WorldArmy/
 /Assets/Visual/
 /Assets/EZ\ Camera\ Shake/
 /Assets/EffectExamples/
 /Assets/2DLightAsset/
 /Assets/genSWAT/
 /Assets/Grenades_Ammo_FPS/
 /Assets/Materials/

 # ============ #
 # OS generated #
 # ============ #
 .DS_Store*
 ._*
 .Spotlight-V100
 .Trashes
 Icon?
 ehthumbs.db
 [Tt]humbs.db
 [Dd]esktop.ini
 Corridor/Library/ShaderCache/
 Corridor/Library/metadata/
